@using ParisESport.fr.Models;

@model ParisESport.fr.Models.Matchs

@{
    ViewBag.Title = "Delete";
}
@{
                            paris_e_sportEntities db = new paris_e_sportEntities();
                            bool isAdmin = (from i in db.UserProfile
                                            where i.UserName == WebSecurity.CurrentUserName
                                            select i.User_infos.FirstOrDefault().admin).FirstOrDefault();
}
@if (Request.IsAuthenticated && isAdmin == true)
                        {
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Matchs</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Equipes.nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Equipes.nom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Equipes1.nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Equipes1.nom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.resultat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.resultat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>
</fieldset>
using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "IndexMatchs")
    </p>
}
                        }
else
{
    Response.Redirect("~/Admin/Login");
}