@using ParisESport.fr.Models;
@{
    ViewBag.Title = "Administration";
}
@{
    paris_e_sportEntities db = new paris_e_sportEntities();
    bool isAdmin = (from i in db.UserProfile
                    where i.UserName == WebSecurity.CurrentUserName
                    select i.User_infos.FirstOrDefault().admin).FirstOrDefault();
}
@if (Request.IsAuthenticated && isAdmin == true)
{
    <h2>Administration</h2>
    <br />

    <div class="content-wrapper">
        <div class="float-left">
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Créditer", "Index")</li>   
                    <li>@Html.ActionLink("Equipes", "IndexEquipes")</li>
                    <li>@Html.ActionLink("Tournois", "IndexTournois")</li>
                    <li>@Html.ActionLink("Matchs", "IndexMatchs")</li>
                    <li>@Html.ActionLink("Jeux", "IndexJeux")</li>
                </ul>
            </nav>
        </div>
    </div>
    <br />
    <br />
    <br />
    @Html.ActionLink("Créditer tous les utilisateurs", "Crediter", null, new { @class = "btn btn-success" })
    
}
else
{
    Response.Redirect("~/Admin/Login");
}