@using ParisESport.fr.Models;
@model IEnumerable<ParisESport.fr.Models.Equipes>

@{
    ViewBag.Title = "Administration des équipes";
}
@{
                            paris_e_sportEntities db = new paris_e_sportEntities();
                            bool isAdmin = (from i in db.UserProfile
                                            where i.UserName == WebSecurity.CurrentUserName
                                            select i.User_infos.FirstOrDefault().admin).FirstOrDefault();
}
@if (Request.IsAuthenticated && isAdmin == true)
                        {
    
<h2>@ViewBag.Title</h2>
    <br />
    <div class="content-wrapper">
        <div class="float-left">
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Equipes", "IndexEquipes")</li>
                    <li>@Html.ActionLink("Tournois", "IndexTournois")</li>
                    <li>@Html.ActionLink("Matchs", "IndexMatchs")</li>
                    <li>@Html.ActionLink("Jeux", "IndexJeux")</li>
                    <li>@Html.ActionLink("Créditer les utilisateurs", "Crediter")</li>                    
                </ul>
            </nav>
        </div>
    </div>
    <br />
    <br />
<p>
    @Html.ActionLink("Ajouter une équipe", "CreateEquipes", null, new { @class = "btn btn-default" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Editer", "EditEquipes", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsEquipes", new { id = item.Id }) |
            @Html.ActionLink("Supprimer", "DeleteEquipes", new { id = item.Id })
        </td>
    </tr>
}

</table>
                        }
else
{
    Response.Redirect("~/Admin/Login");
}